<% content_for :title do %>100日コードを書こう！<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-text="100日間毎日コードを書こう！！！" data-moreinfo="2016/5/10 から"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="last_days" data-view="Number" data-title="最近続いている日数" data-current="5" data-suffix="日"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="process" data-view="Meter" data-title="進捗" data-value="5" data-suffix="%"></div>
    </li>
  </ul>
</div>
